<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!--jQuery library-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!--Latest compiled and minified JavaScript-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/products.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/footer.css">
  <title>Navbar in Bootstrap</title>
</head>

<body>
  <nav class="navbar">
    <div class="navinner">
      <a th:href="@{/store/index}">
        <img src="/img/logo.png" class="brand-logo" alt="">
      </a>
      <div class="nav-items">
        <div class="search">
          <input type="text" class="search-box" placeholder="search brand, product">
          <a th:href="@{/store/search}" class="search-btn">search</a>
        </div>
        <a class="profile-link" href="#"><img src="/img/user.png" alt=""></a>
        <a th:href="@{/store/cart}"><img src="/img/cart.png" alt=""></a>
        <a th:href="@{/store/logiout}"><img src="/img/giris.png" alt=""></a>
      </div>
    </div>
    <ul class="links-container">
      <li class="link-item"><a th:href="@{/store/index}" class="link">home</a></li>
      <li class="link-item"><a th:href="@{/store/products}" class="link">women</a></li>
      <li class="link-item"><a th:href="@{/store/products}" class="link">men</a></li>
      <li class="link-item"><a th:href="@{/store/products}" class="link">kids</a></li>
      <li class="link-item"><a th:href="@{/store/products}" class="link">accessories</a></li>
      <li class="link-item"><a th:href="@{/store/products}" class="link">market</a></li>
      <li class="link-item-cart"><a class="link" th:href="@{/store/cart}">My Cart</a></li>
    </ul>
  </nav>

  <!--Carousel Trial-->

  <!---->
  <section>

    <div class="container col-sm-10 col-sm-offset-1">

      <div class="row">

        <div class="col-sm-4">

          <div class="thumbnail">

            <img
              src="https://images.pexels.com/photos/6084/camera-technology-lens-canon.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              class="img-responsive" alt="">

            <div class="caption">

              <h4>Canon EOS</h4>
              <h6>24.2MP APS-C CMOS sensor</h6>
              <h5><a href="" class="label label-success">Rs.36,000</a></h5>
              <!--button type="submit" class="btn btn-primary btn-block">ADD TO CART</button-->

            </div>

          </div><!-- End of div thumbnail-->
        </div>
        <!--End of div col-sm-4 -->

        <div class="col-sm-4">

          <div class="thumbnail">

            <img
              src="https://images.pexels.com/photos/45889/camera-photo-camera-sony-alpha-7-sony-45889.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              class="img-responsive" alt="">

            <div class="caption">

              <h4>Sony DSLR</h4>
              <h6>Lorem ipsum dolor sit amet</h6>
              <h5><a href="" class="label label-success">Rs.50,000</a></h5>


            </div>

          </div><!-- End of div thumbnail-->
        </div>
        <!--End of div col-sm-4 -->

        <div class="col-sm-4">

          <div class="thumbnail">

            <img
              src="https://images.pexels.com/photos/39342/camera-samsung-nx-300-samsung-nx-300-39342.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              class="img-responsive" alt="">

            <div class="caption">

              <h4>Samsung DSLR</h4>
              <h6>Lorem ipsum sit dolor</h6>
              <h5><a href="" class="label label-success">Rs. 40,000</a></h5>


            </div>

          </div><!-- End of div thumbnail-->
        </div>
        <!--End of div col-sm-4 -->

      </div><!-- End of div row -->

      <div class="row">

        <div class="col-sm-4">

          <div class="thumbnail">

            <img
              src="https://images.pexels.com/photos/277319/pexels-photo-277319.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              class="img-responsive" alt="">

            <div class="caption">

              <h4>Titan Model #201</h4>
              <h6>Lorem ipsum dot amut</h6>
              <h5><a href="" class="label label-success">Rs.13,000</a> </h5>

            </div>

          </div><!-- End of div thumbnail-->
        </div>
        <!--End of div col-sm-4 -->

        <div class="col-sm-4">

          <div class="thumbnail">

            <img
              src="https://images.pexels.com/photos/404181/pexels-photo-404181.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              class="img-responsive" alt="">

            <div class="caption">

              <h4>Emporio Armani</h4>
              <h6>Lorem ipsum sei dolor</h6>
              <h5><a href="" class="label label-success">Rs.33,000</a> </h5>

            </div>

          </div><!-- End of div thumbnail-->
        </div>
        <!--End of div col-sm-4 -->

        <div class="col-sm-4">

          <div class="thumbnail">

            <img
              src="https://images.pexels.com/photos/190819/pexels-photo-190819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              class="img-responsive" alt="">

            <div class="caption">

              <h4>Louis Vuitton</h4>
              <h6>lorem ipsum set lorem</h6>
              <h5><a href="" class="label label-success">Rs.65,000</a></h5>

            </div>

          </div><!-- End of div thumbnail-->
        </div>
        <!--End of div col-sm-4 -->

      </div><!-- End of div row -->

      <div class="row">

        <div class="col-sm-4">

          <div class="thumbnail">

            <img
              src="https://images.pexels.com/photos/297933/pexels-photo-297933.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              class="img-responsive" alt="">

            <div class="caption">

              <h4>H&W</h4>
              <h6>Lorem ipsum dot dolor</h6>
              <h5><a href="" class="label label-success">Rs.850</a></h5>

            </div>

          </div><!-- End of div thumbnail-->
        </div>
        <!--End of div col-sm-4 -->

        <div class="col-sm-4">

          <div class="thumbnail">

            <img
              src="https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              class="img-responsive" alt="">

            <div class="caption">

              <h4>Luis Phillipe</h4>
              <h6>Lorem ipsum dot dolor</h6>
              <h5><a href="" class="label label-success">Rs.1,000</a></h5>

            </div>

          </div><!-- End of div thumbnail-->
        </div>
        <!--End of div col-sm-4 -->

        <div class="col-sm-4">

          <div class="thumbnail">

            <img
              src="https://images.pexels.com/photos/264726/pexels-photo-264726.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              class="img-responsive" alt="">

            <div class="caption">

              <h4>John Jok</h4>
              <h6>Lorem ipsum dot dolor</h6>
              <h5><a href="" class="label label-success">Rs.1,500</a></h5>

            </div>

          </div><!-- End of div thumbnail-->
        </div>
        <!--End of div col-sm-4 -->

      </div><!-- End of div row -->

    </div>
    <div class="container col-sm-10 col-sm-offset-1 page">
      <div class="col-sm-12">

        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="disabled">
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>
    </div>

  </section>
  <script type="text/javascript">
  $(document).ready(function () {
      alert("Search function is not working correctly!");
    });
  </script>

  <script src="/js/home.js" type="text/javascript"></script>
</body>